---
import Layout from "../layouts/Layout.astro";
import NoteForm from "../components/NoteForm.astro";
import { checkSession } from "../utils/checkSession";

await checkSession();
---

<Layout>
  <section class="container mx-auto px-4 mt-4 mb-4 flex-grow">
    <NoteForm />
  </section>
</Layout>
