---
import LoginForm from "../components/LoginForm.astro";
import Layout from "../layouts/Layout.astro";

import { getSession } from "auth-astro/server";

const session = await getSession(Astro.request);

if (session) {
  return Astro.redirect("/");
}
---

<Layout title="Inicio de sesión">
  <section class="container mx-auto px-4 mt-4 mb-4 flex-grow">
    <LoginForm />
  </section>
</Layout>
