---
import LoginForm from "../components/LoginForm.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Login">
  <section class="container mx-auto px-4 mt-4 mb-4 flex-grow">
    <LoginForm />
  </section>
</Layout>
