---
import Note from "../components/Note.astro";
import Layout from "../layouts/Layout.astro";
import { checkSessionLogin } from "../utils/checkSession";

await checkSessionLogin();
---

<Layout>
  <section class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4">
    <Note />
    <Note />
    <Note />
    <Note />
    <Note />
    <Note />
    <Note />
    <Note />
    <Note />
  </section>
</Layout>
