---
import RegisterForm from "../components/RegisterForm.astro";
import Layout from "../layouts/Layout.astro";

import { getSession } from "auth-astro/server";

const session = await getSession(Astro.request);

if (session) {
  return Astro.redirect("/");
}
---

<Layout title="Registráte"
  ><section class="container mx-auto px-4 mt-4 mb-4 flex-grow">
    <RegisterForm />
  </section></Layout
>
