---
const currentYear = new Date().getFullYear();
---

<footer
  style="text-align: center; padding: 1rem; background-color: #f8f9fa; border-top: 1px solid #e9ecef;"
>
  <p>
    &copy; {currentYear}
    <a
      class="hover:text-blue-500"
      href="https://github.com/hugomaartinez"
      target="_blank"
      rel="noopener noreferrer">hugomaartinez</a
    >. Todos los derechos reservados.
  </p>
</footer>
