---
import { SignOut } from "auth-astro/components";
import { getSession } from "auth-astro/server";
import ExitIcon from '../components/Icons/ExitIcon.astro';

const session = await getSession(Astro.request);

const navItems = [
  { href: "/notes", text: "Notas" },
  { href: "/profile", text: "Perfil" },
];
---

<header class="flex items-center justify-between p-4 bg-white shadow-md">
  <a href="/" class="text-xl font-bold lg:text-2xl whitespace-nowrap">Notes App</a>
  {/* Si no hay sesión, no se muestra el menú ni el botón para cerrar sesión*/}
  {
    session && (
      <nav>
      <ul class="flex space-x-4 sm:space-x-2">
        {
          navItems.map((item) => (
            <li>
              <a
                href={item.href}
                class="font-semibold text-gray-700 hover:text-black"
              >
                {item.text}
              </a>
            </li>
          ))
        }
      </ul>
    </nav>
    <div class="flex items-center lg:space-x-4">
      <SignOut class="hidden px-4 py-2 text-white bg-red-500 rounded-lg md:inline-flex items-center">
        Cerrar sesión<ExitIcon className="size-6 ml-2"/> 
      </SignOut>
      <SignOut class="inline-flex items-center px-4 py-2 text-white bg-red-500 rounded-lg md:hidden">
        <ExitIcon class="w-4 h-4 ml-2" />
      </SignOut>
    </div>
    )
  }
</header>
