<header class="bg-white shadow-md p-4">
  <div class="container mx-auto flex justify-between items-center">
    <a href="/" class="text-2xl font-bold">Notes App</a>
    <nav>
      <ul class="flex space-x-4">
        <li>
          <a href="/" class="text-gray-700 hover:text-black">Inicio</a>
        </li>
        <li>
          <a href="/notes" class="text-gray-700 hover:text-black">Notas </a>
        </li>
        <li>
          <a href="/profile" class="text-gray-700 hover:text-black">Perfil</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
