---
import { SignIn } from "auth-astro/components";
import GitHub from "./Icons/GitHub.astro";
import Google from "./Icons/Google.astro";
import PasswordInput from "./form/PasswordInput.astro";
import EmailInput from "./form/EmailInput.astro";
---

<form class="note-form max-w-md mx-auto p-4 bg-white shadow-md rounded-lg">
  <h2 class="text-center text-2xl font-bold mb-4">Iniciar sesión</h2>
  <EmailInput />
  <PasswordInput />
  <button
    type="submit"
    id="submit"
    class="w-full py-2 bg-blue-500 text-white font-bold rounded-lg hover:bg-blue-700"
    >Iniciar Sesión</button
  >
  <div class="text-center mt-4">
    <p class="text-gray-700">
      ¿No tienes una cuenta? <a
        href="/register"
        class="text-blue-500 hover:underline">Regístrate</a
      >
    </p>
  </div>
  <div class="text-center mt-4">
    <p class="text-gray-700">O inicia sesión con:</p>
    <div class="flex justify-center gap-4 mt-4">
      <SignIn provider="github" type="button" class="mx-2">
        <GitHub size="36" class="w-8 h-8" />
      </SignIn>
      <SignIn provider="google" type="button" class="mx-2">
        <Google size="36" class="w-8 h-8" />
      </SignIn>
    </div>
  </div>
</form>

<script is:inline>
  // TODO - Remove this event listener when the form is ready
  document
    .getElementById("submit")
    ?.addEventListener("click", function (event) {
      event.preventDefault();
      alert("De momento solo se puede iniciar sesión Google o Github.");
    });
</script>
