---
import Input from "./Input.astro";
---

<form class="note-form max-w-md mx-auto p-4 bg-white shadow-md rounded-lg">
  <h2 class="text-center text-2xl font-bold mb-4">Regístrate</h2>
  <Input
    label="Nombre"
    type="text"
    name="name"
    placeholder="Introduce tu nombre"
    required
  />
  <Input
    type="email"
    name="email"
    label="Correo electrónico"
    placeholder="example@example.com"
    required
  />
  <Input
    type="password"
    name="password"
    label="Contraseña"
    placeholder="********"
    required
  />
  <button
    type="submit"
    id="submit"
    class="w-full py-2 bg-blue-500 text-white font-bold rounded-lg hover:bg-blue-700"
    >Regístrate</button
  >
  <div class="text-center mt-4">
    <p class="text-gray-700">
      ¿Ya tienes una cuenta? <a
        href="/login"
        class="text-blue-500 hover:underline">Inicia sesión</a
      >
    </p>
  </div>
</form>

<script is:inline>
  document
    .querySelector("button[type='submit']")
    ?.addEventListener("click", function (event) {
      event.preventDefault();
      alert("De momento solo no se puede registrar usuarios.");
    });
</script>
