---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.webp" />
    <meta name="generator" content={Astro.generator} />
    <title>Notes App</title>
  </head>
  <body class="bg-gradient-to-r from-blue-900 via-teal-600 to-cyan-400">
    <Header />
    <div class="container mx-auto px-4">
      <slot class="" />
    </div>
    <Footer />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
